@{
    ViewBag.Title = "Home Page";
    var db = Database.Open("ShiftReportsLocal");
    //var totalWasteSQL = "select  SUM(Productions.Cmp_Waste + Productions.CrumbWaste) From Productions WHERE Productions.Date >= -7 ";
    //var productionSql = "select * from Productions";
}

<div class="page-header" id="jumbo">
    <h1><small>Find weekly and monthly summaries here</small></h1> 
</div>
<div class="row">
    <div class="col-lg-12">
        <h3>Weekly Decision Table</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>
                        Plant Name
                    </td>
                    <td>
                        Total Downtime (Mins)
                    </td>
                    <td>
                        Total Production (Mins)
                    </td>
                    <td>
                        Total Waste (Kg)
                    </td>
                    <td>
                        Plant Efficiency (%)
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Pan</td>
                    <td>30</td>
                    <td>30</td>
                    <td>120</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Roll</td>
                    <td>30</td>
                    <td>30</td>
                    <td>120</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
        <hr />
        <div class="col-lg-4">

            @if (Request.IsAuthenticated && User.IsInRole("Administrators"))
            {
                <h4>Select one of the following</h4>
                <p>@Html.ActionLink("Add Production Record", "Index", "ProductionAdmin")</p>
                <p>@Html.ActionLink("Add Downtime Record", "Index", "DowntimeAdmin")</p>
                <p>@Html.ActionLink("Modify Plant & Mix Rate Per Hour", "Index", "Plant")</p>
                <p>@Html.ActionLink("Modify or Add New Downtime Types", "Index", "DowntimeType")</p>
            }
            @if (Request.IsAuthenticated && !User.IsInRole("Administrators"))
            {
                <h4>Select one of the following</h4>
                <p>@Html.ActionLink("Add Production Record", "Index", "Production")</p>
                <p>@Html.ActionLink("Add Downtime Record", "Index", "Downtime")</p>
            }
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table class="table-bordered">
                    <thead>
                        <tr>
                            Total Waste
                        </tr>
                    </thead>
                    <tbody>
                   
                      </tbody> 
                </table>
                </div>
            </div>

            </div>
        </div>
